* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  min-height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.8s;
}

.sticky {
  padding: 20px 100px;
  background: #fff;
  border-bottom: 1px solid (0, 0, 0, 0.1);
}

.logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.8s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  transition: 0.8s;
}

.sticky ul li a {
  color: #000;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  margin: 10;
}

.banner h2 span {
  color: chartreuse;
}

.banner h4 {
  color: #fff;
  font-size: 20px;
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .content {
  position: relative;
  text-align: left;
  width: 100%;
  line-height: 1.5em;
}

.written {
  max-width: 800px;
  margin: 0 auto;
}
.my-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}
h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.myimg {
  position: relative;
  border-radius: 50%;
}
